---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Are you lost?" navbar footer>
  <div class="flex h-screen flex-col items-center justify-center gap-2 px-4 text-center">
    <h1 class="text-4xl font-bold">Are you lost?</h1>
    <p class="flex flex-col items-center text-lg italic">
      The page you were looking for does not exist or has been removed.
      <a href="/" class="font-bold not-italic underline">Go back home</a>
    </p>
  </div>
</Layout>
