---
import { Image } from "astro:assets";
import logo from "@images/gitarchived-long.webp";
import Search from "@components/Search.svelte";
import Add from "@components/Add.svelte";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="GitArchived">
  <div class="flex h-dvh w-full flex-col bg-stone-800">
    <div class="w-full bg-red-400 px-2 text-black">
      <div class="m-auto flex w-full max-w-screen-lg justify-center py-1 text-center font-bold">
        <span>
          GitArchived is in alpha. Join our
          <a href="https://discord.gg/3u6Ue5XfNZ" target="_blank" class="underline">Discord</a> to report
          bugs.
        </span>
      </div>
    </div>
    <main class="flex h-full w-full flex-col items-center justify-center gap-2 px-6">
      <Image src={logo} alt="GitArchived's logo" height="125" />
      <Search client:load />
      <span>or <Add client:load />.</span>
    </main>
    <Footer />
  </div>
</Layout>
