<footer
  class="flex w-full flex-col items-center justify-center gap-2 border-t border-stone-50/10 p-2 text-white/90"
>
  <span>Archived with 📦GitArchived.</span>
  <span>
    <a href="https://github.com/gitarchived/gitarchived" class="font-bold underline"> GitHub </a>
    |
    <a href="/faq" class="font-bold underline"> Faq </a>
    |
    <a href="/about" class="font-bold underline"> About </a>
  </span>
</footer>
