<footer class="w-full border-stone-50/10 bg-stone-900 p-5 text-white/90">
  <div
    class="m-auto w-full max-w-screen-lg items-center gap-2 space-y-2 text-center md:flex md:justify-between md:text-left"
  >
    <div>
      <h3 class="text-xl font-bold">GitArchived</h3>
      <p class="text-sm opacity-75">
        Distributed under the GPL v3.0 License. <br />
        Source available on
        <a class="italic underline" href="https://github.com/gitarchived">GitHub</a>. Not affiliated
        with
        <a class="italic underline" href="https://git-scm.com">git</a>.
      </p>
    </div>

    <div class="flex flex-col md:items-end">
      <div>
        <a href="/faq" class="hover:underline">FAQ</a> |
        <a href="/about/terms" class="hover:underline">Terms</a> |
        <a href="/about" class="hover:underline">About</a>
      </div>
      <br />
      <a
        href="mailto:info@gitarchived.org"
        class="hidden italic opacity-75 hover:underline md:block"
      >
        info@gitarchived.org
      </a>

      <a href="/about/donate" class="text-sm italic opacity-75 hover:underline">
        Help GitArchived by donating
      </a>
    </div>
  </div>
</footer>
