---
import { Image } from "astro:assets";
import Search from "./Search.svelte";
import logo from "../images/gitarchived.webp";

interface Props {
  query?: string;
}

const { query } = Astro.props;
---

<nav class="flex items-center bg-stone-900 px-6 py-4 sm:py-2">
  <div class="m-auto flex w-full max-w-screen-lg flex-col items-center justify-between sm:flex-row">
    <a href="/">
      <Image src={logo} alt="GitArchived" width="50" />
    </a>
    <Search client:load query={query} />
  </div>
</nav>
