---
import { Image } from "astro:assets";
import Search from "./Search.svelte";
import logo from "@images/gitarchived.webp";
import donate from "@images/donate.svg";

interface Props {
  query?: string;
}

const { query } = Astro.props;
---

<nav class="flex items-center bg-stone-900 px-6 py-4 sm:py-2">
  <div class="m-auto flex w-full max-w-screen-lg flex-col items-center justify-between sm:flex-row">
    <a href="/">
      <Image src={logo} alt="GitArchived" width="50" />
    </a>

    <div class="flex space-x-1">
      <Search client:load query={query} />
      <a href="/about/donate" class="rounded-lg border border-stone-50/10 bg-stone-800 p-1.5">
        <Image src={donate} alt="donate" width="23" />
      </a>
    </div>
  </div>
</nav>
