---
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";

interface Props {
  title: string;
  navbar?: boolean;
  footer?: boolean;
  class?: string;
  query?: string;
}

const { title, navbar, footer, query } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Git archived serves as a safeguard against the loss of online repositories by systematically backing them up"
    />
    <meta
      name="keywords"
      content="git, backup, archive, repository, safeguard, loss, online, offline"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
  </head>
  <body class="flex h-screen flex-col justify-between bg-stone-800 text-white">
    {navbar && <Navbar {query} />}
    <main class="mb-auto">
      <slot />
    </main>
    {footer && <Footer />}
  </body>
</html>

<style>
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
</style>
