---
import Layout from "./Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <Navbar />
  <div class="flex flex-col items-center justify-center">
    <div
      class="prose prose-h1:font-bold md:prose-h1:text-3xl prose-h1:text-2xl px-4 py-10 md:px-2"
    >
      <slot />
    </div>
  </div>
  <Footer />
</Layout>
